@model ML.TipoMedio
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>TipoMedio</h2>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success  bi bi-plus-circle-fil" id="btnAdd"> Agregar</button>
        </div>
    </div>
    <br />
    @if (Model.TipoMedios.Count != 0)
    {
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-responsive" id="myTable">
                    <thead class="table-dark">
                        <tr>
                            <th class="text-center">Editar</th>
                            <th class="text-center" hidden>IdTipoMedio</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                    </thead>

                    <tbody id="tBodyTipoMedio">
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
</div>

<div class="container">
    @using (Html.BeginForm("Form", "TipoMedio", FormMethod.Post, new { enctype = "multipart/form-data", @id = "myForm" }))
    {
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">TipoMedio</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.IdTipoMedio, null, new { @style = "display: none;" })
                                @Html.TextBoxFor(model => model.IdTipoMedio, new { @style = "display: none;", @id = "txtIdTipoMedio" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Nombre)
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btnGuardar"> Guardar</button>
                        <button type="button" class="btn btn-danger bi bi-box-arrow-left" data-bs-dismiss="modal"> Salir</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetAll();
        });

        function GetAll() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllTipoMedio")',
                success: function (result) {
                    $('#tBodyTipoMedio').empty();

                    $.each(result.objects, function (i, tipoMedio) {
                        var fila =
                            '<tr>'
                            + '<td class="text-center"><button type="button" class="btn btn-warning bi bi-pencil-fill" id="btnUpdate" onclick="Modal(this)"  value="' + tipoMedio.idTipoMedio + '"></button></td>'
                            + '<td hidden>' + tipoMedio.idTipoMedio + '</td>'
                            + '<td class="text-center">' + tipoMedio.nombre + '</td>'
                            + '<td class="text-center"><button type="button" class="btn btn-danger bi bi-trash-fill" onclick="Delete(this)"  value="' + tipoMedio.idTipoMedio + '"></button></td>'
                            + '</tr>';
                        $('#tBodyTipoMedio').append(fila);
                    });
                }
            });
        };

        $('#btnAdd').click(function () {
            $("#txtTipoMedio").val("");
            $("#txtNombre").val("");

            $('#modal').modal('show');
        });



        $('#btnGuardar').click(function () {

            var formData = new FormData(document.getElementById('myForm'));

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Form")',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    $('#modal').modal('hide');

                    $('#tBodyTipoMedio').empty();

                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllTipoMedio")',
                        success: function (result) {
                            $('#tBodyTipoMedio').empty();

                            $.each(result.objects, function (i, tipoMedio) {
                                var fila =
                                    '<tr>'
                                    + '<td class="text-center"><button type="button" class="btn btn-warning bi bi-pencil-fill" id="btnUpdate" onclick="Modal(this)"  value="' + tipoMedio.idTipoMedio + '"></button></td>'
                                    + '<td hidden>' + tipoMedio.idTipoMedio + '</td>'
                                    + '<td class="text-center">' + tipoMedio.nombre + '</td>'
                                    + '<td class="text-center"><button type="button" class="btn btn-danger bi bi-trash-fill" onclick="Delete(this)"  value="' + tipoMedio.idTipoMedio + '"></button></td>'
                                    + '</tr>';
                                $('#tBodyTipoMedio').append(fila);
                            });
                        },
                        error: function (result) {
                            alert('Error en la consulta.');
                        }

                    });

                }
            });
        });

        function Modal(boton) {
            

            $.ajax({
                url: '@Url.Action("GetByIdTipoMedio")',

                data: { idTipoMedio: boton.value },

                type: 'GET',

                dataType: 'json',

                success: function (data) {

                    $('#txtIdTipoMedio').val(data.idTipoMedio)
                    $('#txtNombre').val(data.nombre)

                    $('#modal').modal('show');
                },
                error: function () {
                    alert('Error en la consulta');
                },
            });
        };


        function Delete(datos) {
            var checkconfirm = confirm('¿Estas seguro que desea elimianr este registro?');
            if (checkconfirm == true) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    data: { idTipoMedio: datos.value },
                    type: 'GET',
                    dataType: 'json',
                    success: function () {
                        $('#tBodyTipoMedio').empty();

                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllTipoMedio")',
                            success: function (result) {
                                $('#tBodyTipoMedio').empty();

                                $.each(result.objects, function (i, tipoMedio) {
                                    var fila =
                                        '<tr>'
                                        + '<td class="text-center"><button type="button" class="btn btn-warning bi bi-pencil-fill" id="btnUpdate" onclick="Modal(this)"  value="' + tipoMedio.idTipoMedio + '"></button></td>'
                                        + '<td hidden>' + tipoMedio.idTipoMedio + '</td>'
                                        + '<td class="text-center">' + tipoMedio.nombre + '</td>'
                                        + '<td class="text-center"><button type="button" class="btn btn-danger bi bi-trash-fill" onclick="Delete(this)"  value="' + tipoMedio.idTipoMedio + '"></button></td>'
                                        + '</tr>';
                                    $('#tBodyTipoMedio').append(fila);
                                });
                            },
                            error: function (result) {
                                alert('Error en la consulta.');
                            }
                        });
                    },
                    error: function (result) {
                        alert('Error en la consulta.');
                    }
                });
            } else {
                return false;
            }
        }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>

}

