@model ML.Editorial
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Editorial/EditorialCRUD.js"></script>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Editoriales</h2>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" id="btnAdd" onclick="btnAdd()">+</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Editar</th>
                        <th class="text-center" hidden>IdEditorial</th>
                        <th class="text-center">Nombre Editorial</th>
                        <th class="text-center">Dirección</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody id="tBodyEditorial">
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <br />
</div>

<div class="container">
    @using (Html.BeginForm("Form", "Autor", FormMethod.Post, new { enctype = "multipart/form-data", @id = "myForm" }))
    {
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Editorial</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.IdEditorial, null, new { @style = "display: none;" })
                                @Html.TextBoxFor(model => model.IdEditorial, new { @style = "display: none;", @id = "txtIdEditorial" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Nombre)
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Direccion.IdDireccion, new { @style = "display: none;" })
                                @Html.TextBoxFor(model => model.Direccion.IdDireccion, new { @style = "display: none;", @id = "txtIdDireccion" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("*", null, new { @style = "color: red;" })
                                @Html.LabelFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.Nombre, new { @class = "control-label" })
                                @if (Model.Direccion.Colonia.Municipio.Estado.Pais.Paises == null)
                                {
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais,
                                             new SelectList(string.Empty, "Value", "Text"), "Seleccione un País", new { @id = "ddlPais", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, null, new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, new SelectList(Model.Direccion.Colonia.Municipio.Estado.Pais.Paises,
                                             "IdPais", "Nombre"), "Selecciona un País", new { @id = "ddlPais", @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Direccion.Colonia.Municipio.Estado.Pais.IdPais, null, new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("*", null, new { @style = "color: red;" })
                                @Html.LabelFor(model => model.Direccion.Colonia.Municipio.Estado.Nombre, new { @class = "control-label" })
                                @if (Model.Direccion.Colonia.Municipio.Estado.Estados == null)
                                {
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(string.Empty, "Value", "Text"),
                                             "Selecciona un Estado", new { @id = "ddlEstado", @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado,
                                             new SelectList(Model.Direccion.Colonia.Municipio.Estado.Estados, "IdEstado", "Nombre"), "Selecciona un Estado", new { @id = "ddlEstado", @class = "form-control" })
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("*", null, new { @style = "color: red;" })
                                @Html.LabelFor(model => model.Direccion.Colonia.Municipio.Nombre, new { @class = "control-label" })
                                @if (Model.Direccion.Colonia.Municipio.Municipios == null)
                                {
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.IdMunicipio, new SelectList(string.Empty, "Value", "Text"),
                                             "Selecciona un municipio", new { @id = "ddlMunicipio", @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.IdMunicipio,
                                             new SelectList(Model.Direccion.Colonia.Municipio.Municipios, "IdMunicipio", "Nombre"), "Selecciona un municipio", new { @id = "ddlMunicipio", @class = "form-control" })
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("*", null, new { @style = "color: red;" })
                                @Html.LabelFor(model => model.Direccion.Colonia.Nombre, new { @class = "control-label" })
                                @if (Model.Direccion.Colonia.Municipio.Municipios == null)
                                {
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.IdColonia, new SelectList(string.Empty, "Value", "Text"),
                                             "Selecciona un colonia", new { @id = "ddlColonia", @class = "form-control" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Direccion.Colonia.IdColonia,
                                             new SelectList(Model.Direccion.Colonia.Colonias, "IdColonia", "Nombre"), "Selecciona un colonia", new { @id = "ddlColonia", @class = "form-control" })
                                }
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("*", null, new { @style = "color: red;" })
                                @Html.LabelFor(model => model.Direccion.Calle)
                                @Html.TextBoxFor(model => model.Direccion.Calle, new { @class = "form-control", @id = "txtCalle" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("*", null, new { @style = "color: red;" })
                                @Html.LabelFor(model => model.Direccion.NumeroInterior)
                                @Html.TextBoxFor(model => model.Direccion.NumeroInterior, new { @class = "form-control", @id = "txtNumeroInterior" })
                                <label id="txtNumeroInterior"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("*", null, new { @style = "color: red;" })
                                @Html.LabelFor(model => model.Direccion.NumeroExterior)
                                @Html.TextBoxFor(model => model.Direccion.NumeroExterior, new { @class = "form-control", @id = "txtNumeroExterior" })
                                <label id="txtNumeroExterior"></label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" id="btnGuardar" onclick="BtnGuardar()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*
@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            GetAll();

            $("#ddlPais").change(function () {
                $("#ddlEstado").empty();
                $("#ddlMunicipio").empty();
                $("#ddlColonia").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetEstado")',
                    dataType: 'json',
                    data: { IdPais: $("#ddlPais").val() },
                    success: function (estados) {
                        $("#ddlEstado").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                        $("#ddlMunicipio").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                        $("#ddlColonia").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                        $.each(estados, function (i, estados) {
                            $("#ddlEstado").append('<option value ="'
                                + estados.idEstado + '">'
                                + estados.nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed. ' + ex)
                    }
                });
            });

            $("#ddlEstado").change(function () {
                $("#ddlMunicipio").empty();
                $("#ddlColonia").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetMunicipio")',
                    dataType: 'json',
                    data: { IdEstado: $("#ddlEstado").val() },
                    success: function (municipios) {
                        $("#ddlMunicipio").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                        $("#ddlColonia").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                        $.each(municipios, function (i, municipios) {
                            $("#ddlMunicipio").append('<option value ="'
                                + municipios.idMunicipio + '">'
                                + municipios.nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed. ' + ex)
                    }
                });
            });

            $("#ddlMunicipio").change(function () {
                $("#ddlColonia").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetColonia")',
                    dataType: 'json',
                    data: { IdMunicipio: $("#ddlMunicipio").val() },
                    success: function (colonias) {
                        $("#ddlColonia").append('<option value="0">' + 'Seleccione una opción' + '</option>');
                        $.each(colonias, function (i, colonias) {
                            $("#ddlColonia").append('<option value ="'
                                + colonias.idColonia + '">'
                                + colonias.nombre + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed. ' + ex)
                    }
                });
            });
        });

        function GetAll() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetAllEditorial")',
                success: function (result) {
                    $('#tBodyEditorial').empty();

                    $.each(result.objects, function (i, editorial) {
                        var fila =
                            '<tr>'
                            + '<td class="text-center"><button type="button" class="btn btn-warning" id="btnUpdate" onclick="Modal(this)"  value="' + editorial.idEditorial + '">Editar</button></td>'
                            + '<td hidden>' + editorial.idEditorial + '</td>'
                            + '<td class="text-center">' + editorial.nombre + '</td>'
                            + '<td class="text-center">' + editorial.direccion.calle + ', ' + editorial.direccion.numeroInterior
                            + ', ' + editorial.direccion.colonia.nombre + ', ' + editorial.direccion.colonia.codigoPostal + '</td>'
                            + '<td class="text-center"><button type="button" class="btn btn-danger" onclick="Delete(this)"  value="' + editorial.idEditorial + '">Eliminar</button></td>'
                            + '</tr>';
                        $('#tBodyEditorial').append(fila);
                    });
                }
            });
        };

        $('#btnAdd').click(function () {
            $("#txtIdEditorial").val("");
            $("#txtNombre").val("");
            $("#txtIdDireccion").val("");
            $('#ddlPais').val("");
            $("#ddlEstado").empty();
            $("#ddlMunicipio").empty();
            $("#ddlColonia").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEstado")',
                dataType: 'json',
                data: { IdPais: $("#ddlPais").val() },
                success: function (estados) {
                    $("#ddlEstado").append('<option value="0">' + 'Seleccione un Estado' + '</option>');
                    $("#ddlMunicipio").append('<option value="0">' + 'Seleccione un Municipio' + '</option>');
                    $("#ddlColonia").append('<option value="0">' + 'Seleccione una Colonia' + '</option>');
                    $.each(estados, function (i, estados) {
                        $("#ddlEstado").append('<option value ="'
                            + estados.idEstado + '">'
                            + estados.nombre + '</option>');
                    });

                    $("#ddlMunicipio").empty();
                    $("#ddlColonia").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetMunicipio")',
                        dataType: 'json',
                        data: { IdEstado: $("#ddlEstado").val() },
                        success: function (municipios) {
                            $("#ddlMunicipio").append('<option value="0">' + 'Seleccione un Municipio' + '</option>');
                            $("#ddlColonia").append('<option value="0">' + 'Seleccione una Colonia' + '</option>');
                            $.each(municipios, function (i, municipios) {
                                $("#ddlMunicipio").append('<option value ="'
                                    + municipios.idMunicipio + '">'
                                    + municipios.nombre + '</option>');
                            });

                            $("#ddlColonia").empty();
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("GetColonia")',
                                dataType: 'json',
                                data: { IdMunicipio: $("#ddlMunicipio").val() },
                                success: function (colonias) {
                                    $("#ddlColonia").append('<option value="0">' + 'Seleccione una Colonia' + '</option>');
                                    $.each(colonias, function (i, colonias) {
                                        $("#ddlColonia").append('<option value ="'
                                            + colonias.idColonia + '">'
                                            + colonias.nombre + '</option>');
                                    });
                                },
                                error: function (ex) {
                                    alert('Failed. ' + ex)
                                }
                            });
                        },
                        error: function (ex) {
                            alert('Failed. ' + ex)
                        }
                    });
                },
                error: function (ex) {
                    alert('Failed. ' + ex)
                }
            });


            $('#ddlMunicipio').val("0");
            $('#ddlColonia').val("0");
            $('#txtCalle').val("");
            $('#txtNumeroInterior').val("");
            $('#txtNumeroExterior').val("");
            $('#modal').modal('show');
        });

        $('#btnGuardar').click(function () {

            var formData = new FormData(document.getElementById('myForm'));

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Form")',
                data: formData,
                processData: false,
                contentType: false,
                success: function () {
                    $('#modal').modal('hide');

                    $('#tBodyEditorial').empty();

                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetAllEditorial")',
                        success: function (result) {
                            $('#tBodyEditorial').empty();

                            $.each(result.objects, function (i, editorial) {
                                var fila =
                                    '<tr>'
                                    + '<td class="text-center"><button type="button" class="btn btn-warning" id="btnUpdate" onclick="Modal(this)"  value="' + editorial.idEditorial + '">Editar</button></td>'
                                    + '<td hidden>' + editorial.idEditorial + '</td>'
                                    + '<td class="text-center">' + editorial.nombre + '</td>'
                                    + '<td class="text-center">' + editorial.direccion.calle + ', ' + editorial.direccion.numeroInterior
                                    + ', ' + editorial.direccion.colonia.nombre + ', ' + editorial.direccion.colonia.codigoPostal + '</td>'
                                    + '<td class="text-center"><button type="button" class="btn btn-danger" id="btnDelete" onclick="Delete(this)"  value="' + editorial.idEditorial + '">Eliminar</button></td>'
                                    + '</tr>';
                                $('#tBodyEditorial').append(fila);
                            });
                        },
                        error: function (result) {
                            alert('Error en la consulta.');
                        }

                    });

                }
            });
        });

        function Modal(boton) {


            $.ajax({
                url: '@Url.Action("GetByIdEditorial")',

                data: { idEditorial: boton.value },

                type: 'GET',

                dataType: 'json',

                success: function (data) {

                    $('#txtIdEditorial').val(data.idEditorial)
                    $('#txtNombre').val(data.nombre)
                    $('#ddlPais').val(data.direccion.colonia.municipio.estado.pais.idPais);
                    $("#ddlEstado").empty();
                    $("#ddlMunicipio").empty();
                    $("#ddlColonia").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetEstado")',
                        dataType: 'json',
                        data: { IdPais: $("#ddlPais").val() },
                        success: function (estados) {
                            $("#ddlEstado").append('<option value="0">' + 'Seleccione un Estado' + '</option>');
                            $.each(estados, function (i, estados) {
                                $("#ddlEstado").append('<option value ="'
                                    + estados.idEstado + '">'
                                    + estados.nombre + '</option>');
                            });
                            $('#ddlEstado').val(data.direccion.colonia.municipio.estado.idEstado);

                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("GetMunicipio")',
                                dataType: 'json',
                                data: { IdEstado: $("#ddlEstado").val() },
                                success: function (municipios) {
                                    $("#ddlMunicipio").append('<option value="0">' + 'Seleccione un Municipio' + '</option>');
                                    $.each(municipios, function (i, municipios) {
                                        $("#ddlMunicipio").append('<option value ="'
                                            + municipios.idMunicipio + '">'
                                            + municipios.nombre + '</option>');
                                    });

                                    $('#ddlMunicipio').val(data.direccion.colonia.municipio.idMunicipio);
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("GetColonia")',
                                        dataType: 'json',
                                        data: { IdMunicipio: $("#ddlMunicipio").val() },
                                        success: function (colonias) {
                                            $("#ddlColonia").append('<option value="0">' + 'Seleccione una Colonia' + '</option>');
                                            $.each(colonias, function (i, colonias) {
                                                $("#ddlColonia").append('<option value ="'
                                                    + colonias.idColonia + '">'
                                                    + colonias.nombre + '</option>');
                                            });

                                            $('#ddlColonia').val(data.direccion.colonia.idColonia);
                                        },
                                        error: function (ex) {
                                            alert('Failed. ' + ex)
                                        }
                                    });
                                },
                                error: function (ex) {
                                    alert('Failed. ' + ex)
                                }
                            });
                        },
                        error: function (ex) {
                            alert('Failed. ' + ex)
                        }
                    });
                    $('#txtCalle').val(data.direccion.calle);
                    $('#txtNumeroInterior').val(data.direccion.numeroInterior);
                    $('#txtNumeroExterior').val(data.direccion.numeroExterior);
                    $('#txtIdDireccion').val(data.direccion.idDireccion);

                    $('#modal').modal('show');
                },
                error: function () {
                    alert('Disculpe, existió un problema');
                },
            });
        };

        function Delete(datos) {
            var checkconfirm = confirm('¿Estas seguro de eliminarlo?');
            if (checkconfirm == true) {
                $.ajax({
                    url: '@Url.Action("Delete")',
                    data: { idEditorial: datos.value },
                    type: 'GET',
                    dataType: 'json',
                    success: function () {
                        $('#tBodyEditorial').empty();

                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllEditorial")',
                            success: function (result) {
                                $('#tBodyEditorial').empty();

                                $.each(result.objects, function (i, editorial) {
                                    var fila =
                                        '<tr>'
                                        + '<td class="text-center"><button type="button" class="btn btn-warning" id="btnUpdate" onclick="Modal(this)"  value="' + editorial.idEditorial + '">Editar</button></td>'
                                        + '<td hidden>' + editorial.idEditorial + '</td>'
                                        + '<td class="text-center">' + editorial.nombre + '</td>'
                                        + '<td class="text-center">' + editorial.direccion.calle + ', ' + editorial.direccion.numeroInterior
                                        + ', ' + editorial.direccion.colonia.nombre + ', ' + editorial.direccion.colonia.codigoPostal + '</td>'
                                        + '<td class="text-center"><button type="button" class="btn btn-danger" id="btnDelete" onclick="Delete(this)"  value="' + editorial.idEditorial + '">Eliminar</button></td>'
                                        + '</tr>';
                                    $('#tBodyEditorial').append(fila);
                                });
                            },
                            error: function (result) {
                                alert('Error en la consulta.');
                            }
                        });
                    },
                    error: function (result) {
                        alert('Error en la consulta.');
                    }
                });
            } else {
                return false;
            }
        }


    </script>
} *@
