@model ML.Medio
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> Rol
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Medio/MedioCRUD.js"></script>

<style>
    #flexSwitchCheckDefault {
        cursor: pointer;
        width: 4.5em;
        height: 2em;
        margin-right: 2.8em;
        margin-left: 1em;
    }
</style>

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Medios</h2>
        </div>
    </div>
    <hr />
    @if (Rol.IsSignedIn(User))
    {
        if (User.IsInRole("Administrador"))
        {
            @* if (Model.Medios != null)
    { *@
            <div class="row">
                <div class="col-md-12">
                    @*   @Html.ActionLink(" Agregar ", "Form", "Medio", htmlAttributes: new { @class = "btn btn-success bi bi-plus-circle-fill" }) *@

                    <button type="button" class="btn btn-success  bi bi-plus-circle-fil" id="btnAdd" onclick="addBtn()"> Agregar</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-responsive border-primary border-3" id="myTable">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center">Editar</th>
                                <th class="text-center" hidden>IdMedio</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Archivo</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Disponibilidad</th>
                                <th class="text-center">Imagen</th>
                                <th class="text-center">Autor</th>
                                <th class="text-center">Idioma</th>
                                <th class="text-center">Tipo Medio</th>
                                <th class="text-center">Editorial</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyMedioAdmin">
                        </tbody>
                    </table>
                </div>
            </div>
            @* }
    else
    { *@
            @* <div class="alert alert-danger" role="alert">
    No se encontraron registros.
    </div> *@
            @* } *@
        }
        else
        {
            @* if (Model.Medios != null)
    { *@
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-bordered table-responsive border-primary border-3" id="tableUser">
                        <thead class="table-dark">
                            <tr>
                                <th class="text-center" hidden>IdMedio</th>
                                <th class="text-center">Nombre</th>
                                <th class="text-center">Archivo</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Imagen</th>
                                <th class="text-center">Autor</th>
                                <th class="text-center">Idioma</th>
                                <th class="text-center">Tipo Medio</th>
                                <th class="text-center">Editorial</th>
                            </tr>
                        </thead>
                        <tbody id="tBodyMedioUser">
                        </tbody>
                    </table>
                </div>
            </div>
            @* }
    else
    { *@
            @* <div class="alert alert-danger" role="alert">
    @ViewBag.Error
    </div> *@
            @* } *@

            <div id="alertBodyUser">
            </div>
        }

        <div id="alertBody">
        </div>
    }
</div>

<br />
<br />
<br />

<div class="container">
    @using (Html.BeginForm("Form", "Medio", FormMethod.Post, new { enctype = "multipart/form-data", @id = "myForm" }))
    {
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Medio</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.IdMedio, null, new { @style = "display: none;" })
                                @Html.TextBoxFor(model => model.IdMedio, new { @style = "display: none;", @id = "txtIdMedio" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Nombre)
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Archivo)

                                <input type="file" id="archivo" name="archivo" />
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Descripcion)
                                @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", @id = "txtDescripcion" })
                            </div>
                        </div>
                        <br />
                        @* <div class="row">
                    <div class="col-md-6">
                    @Html.LabelFor(model => model.Disponibilidad)
                    <div>
                    <input type="text" value="1" name="Disponibilidad" id="Disponibilidad" />
                    </div>
                    </div>
                    </div> *@


                        <div class="row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.Imagen)
                                <input type="file" id="fuImagen" name="fuImagen" class="form-control" onchange="PreviewImage(event)" />
                                <br />
                                <div id="subirImagen">
                                    @if (Model.Imagen == null)
                                    {
                                        <img src="/Images/medio.png" id="imgMedio" width="150px" height="150px" />
                                    }
                                    else
                                    {
                                        <img src="data:image/png;base64, @Convert.ToBase64String(Model.Imagen)" id="imgMedio" width="150px" height="150px" />
                                    }
                                </div>
                                @Html.HiddenFor(model => model.Imagen)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Autor: ")
                                @if (Model.Autor.Autores == null)
                                {
                                    @Html.DropDownListFor(model => model.Autor.IdAutor, new SelectList(string.Empty, "Value", "Text"), "Seleccione una opción", new { @class = "form-control", @id = "ddlAutor" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Autor.IdAutor, new SelectList(Model.Autor.Autores, "IdAutor", "Nombre"), "Seleccione una opción", htmlAttributes: new { @class = "form-control", @id = "ddlAutor" })
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Idioma: ")
                                @if (Model.Idioma.Idiomas == null)
                                {
                                    @Html.DropDownListFor(model => model.Idioma.IdIdioma, new SelectList(string.Empty, "Value", "Text"), "Seleccione una opción", new { @class = "form-control", @id = "ddlIdioma" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Idioma.IdIdioma, new SelectList(Model.Idioma.Idiomas, "IdIdioma", "Nombre"), "Seleccione una opción", htmlAttributes: new { @class = "form-control", @id = "ddlIdioma" })
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Tipo Medio: ")
                                @if (Model.TipoMedio.TipoMedios == null)
                                {
                                    @Html.DropDownListFor(model => model.TipoMedio.IdTipoMedio, new SelectList(string.Empty, "Value", "Text"), "Seleccione una opción", new { @class = "form-control", @id = "ddlTipoMedio" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.TipoMedio.IdTipoMedio, new SelectList(Model.TipoMedio.TipoMedios, "IdTipoMedio", "Nombre"), "Seleccione una opción", htmlAttributes: new { @class = "form-control", @id = "ddlTipoMedio" })
                                }
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Editorial: ")
                                @if (Model.Editorial.Editoriales == null)
                                {
                                    @Html.DropDownListFor(model => model.Editorial.IdEditorial, new SelectList(string.Empty, "Value", "Text"), "Seleccione una opción", new { @class = "form-control", @id = "ddlEditorial" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(model => model.Editorial.IdEditorial, new SelectList(Model.Editorial.Editoriales, "IdEditorial", "Nombre"), "Seleccione una opción", htmlAttributes: new { @class = "form-control", @id = "ddlEditorial" })
                                }
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btnGuardar" onclick="guardarBtn()"> Guardar</button>
                        <button type="button" class="btn btn-danger bi bi-box-arrow-left" data-bs-dismiss="modal"> Salir</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@* @section Scripts {

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script> *@

@* <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script> *@

@*  <script type="text/javascript">

    </script>
} *@


