@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="~/js/Autor/AutorCRUD.js"></script>

<br />

<style>
    .card {
        position: relative;
        width: 13em;
        height: 20em;
        box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: all 120ms;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 0.5em;
        padding-bottom: 3.4em;
    }

        .card::after {
            content: "\00270E  Editar";
            padding-top: 1.25em;
            padding-left: 1.25em;
            position: absolute;
            left: 0;
            bottom: -60px;
            background: #FFCE67;
            color: #fff;
            height: 4.5em;
            width: 100%;
            transition: all 80ms;
            font-weight: 600;
            text-transform: uppercase;
            opacity: 0;
            border-radius: 4px;
        }

        .card .title {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.9em;
            position: absolute;
            left: 0.625em;
            bottom: 1.875em;
            font-weight: 400;
            color: #000;
        }

        .card .tipoAutor {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 0.9em;
            position: absolute;
            left: 0.625em;
            bottom: 0.625em;
            color: #000;
        }

        .card:hover::after {
            bottom: 0;
            opacity: 1;
        }

        /* .card:active {
            transform: scale(0.98);
        }

            .card:active::after {
                content: "Added !";
                height: 3.125em;
            } */

    .text {
        max-width: 55px;
    }

    .image {
        background: rgb(241, 241, 241);
        width: 100%;
        height: 85%;
        display: grid;
        place-items: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Autores</h2>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" id="btnAdd" onclick="BtnAdd()"><i class="bi bi-person-add"></i> Nuevo</button>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>

<div class="container">

    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4 justify-content-center" id="cardAutor">
    </div>
    <div class="row" id="errorAlert">
    </div>
    <br />
    <br />
    <br />
</div>

<div class="container">

    <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Autor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form id="myForm" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                @* @Html.TextBoxFor(model => model.IdAutor, new { @style = "display: none;", @id = "txtIdAutor" }) *@
                                <input id="txtIdAutor" name="idAutor" style="display: none;" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Nombre: ")
                                @* @Html.LabelFor(model => model.Nombre)
                                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @id = "txtNombre" }) *@
                                <input id="txtNombre" name="nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Apellido Paterno: ")
                                @* @Html.LabelFor(model => model.ApellidoPaterno)
                                @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @id = "txtApellidoPaterno" }) *@
                                <input id="txtApellidoPaterno" name="apellidoPaterno" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Apellido Materno: ")
                                @* @Html.LabelFor(model => model.ApellidoMaterno)
                                @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @id = "txtApellidoMaterno" }) *@
                                <input id="txtApellidoMaterno" name="apellidoMaterno" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.Label("Tipo de Autor: ")
                                @* @if (Model.TipoAutor.TipoAutores == null)
                                {
                                @Html.DropDownListFor(model => model.TipoAutor.IdTipoAutor, new SelectList(string.Empty, "Value", "Text"), "Seleccione una opción",
                                new { @class = "form-control", @id = "ddlTipoAutor" })
                                }
                                else
                                {
                                @Html.DropDownListFor(model => model.TipoAutor.IdTipoAutor, new SelectList(Model.TipoAutor.TipoAutores, "IdTipoAutor", "Nombre"), "Seleccione una opción",
                                new { @class = "form-control", @id = "ddlTipoAutor" })
                                } *@
                                <select id="ddlTipoAutor" name="idTipoAutor" class="form-control">
                                </select>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Label("Foto:")
                            <input type="file" id="fuImagen" name="fuImagen" class="form-control" onchange="PreviewImage(event)" />
                            <br />
                            <div id="cargarFoto">
                                @* @if (Model.Foto == null)
                                {
                                <img src="/Images/userDefault.jpg" id="imgAutor" width="150px" height="150px" />
                                }
                                else
                                {
                                <img src="data:image/png;base64, @Convert.ToBase64String(Model.Foto)" id="imgAutor" width="150px" height="150px" />
                                }
                                @Html.HiddenFor(model => model.Foto)*@
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="txtUpdateFoto" name="txtUpdateFoto" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" id="btnGuardarAutor" onclick="BtnGuardarAutor()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* @section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script type="text/javascript">


    </script>
} *@